.App {
  min-height: 50%;
  display: flex;
  justify-content: center;
  padding-top: 100px;

}

body {
  background: #efefef;
}

.form-container {
  min-width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-form {
  padding: 50px 25px;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-field {
  width: 100%;
  margin-bottom: 20px !important;
}

.btn-container {
  width: 100%;
  display: flex;
  margin-top: 30px;
}

.btn-container .btn {
  flex: 1;
  margin-right: 10px;
}

.btn-container .btn:last-child {
  margin-right: revert;
}

.tab-container {
  margin-bottom: 30px;
  border-bottom: 1px solid #efefef;
}

.red-color {
  background: #f2dede !important;
}

.card-label {
  background: rgb(63, 81, 181);
  color: rgb(255, 255, 255);
  padding: 1.2rem;
  border-radius: 0.3rem;
  box-shadow: rgb(0 0 0 / 14%) 0px 4px 20px 0px, rgb(233 30 99 / 40%) 0px 7px 10px -5px;
  margin-top: -25px;
  margin-right: 15px;
}

/*
.red-color td {
  color: #fff !important;
}*/

/*scrollbar css*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #AAA;
}